/* styles.css */

/* Basic reset for body and header */
body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand SC', cursive;
}

header {
  background-color: #bff3fb;
  padding: 30px 0; 
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait {
  width: 150px;
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
}

h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3rem; 
  margin: 15px 0; 
}

nav {
  margin-top: 15px; 
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0; 
}

nav li {
  margin: 0 20px; 
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; 
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff; 
}

/* Section styling */
#home {
  padding: 40px; 
  text-align: center;
}

/* Footer styling */
footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 15px 0; 
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 20px; 
}

/* Resume section styling */
#resume {
  padding: 40px 20px; 
  text-align: center;
}

.resume-image {
  max-width: 90%; 
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Gallery Styles */
.card {
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  overflow: hidden;
}

.card-img-top {
  object-fit: cover; 
  height: 200px; 
}

.card-body {
  text-align: center; 
}

.card-title {
  font-size: 1.25rem; 
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem; 
  color: #555; 
}


/* Additional Styling */
footer {
  background-color: #f8f9fa; 
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd; 
}

#about {
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
}

.square-image {
  float: left;
  margin-right: 20px;
  width: 300px; 
  height: auto; /* 
  border-radius: 0px;
}


